
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    :root {
      --foreground-rgb: 0, 0, 0;
      --background-start-rgb: 214, 219, 220;
      --background-end-rgb: 255, 255, 255;
      --primary-color: #FFEEAD;
      --secondary-color: #9B786F;
    
  --neumorphic-shadow-light: 8px 8px 16px rgba(174, 174, 192, 0.4);
  --neumorphic-shadow-dark: -8px -8px 16px rgba(255, 255, 255, 0.7);
  --neumorphic-inset-light: inset 2px 2px 5px rgba(174, 174, 192, 0.2);
  --neumorphic-inset-dark: inset -2px -2px 5px rgba(255, 255, 255, 0.7);
  --glass-border: 1px solid rgba(255, 255, 255, 0.2);
  --glass-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  --glass-blur: 16px;
  --border-radius: 1.25rem;
  --transition-speed: 0.3s;

  --shadow-neumorphic: 5px 5px 10px rgba(0, 0, 0, 0.05), -5px -5px 10px rgba(255, 255, 255, 0.7);
  --shadow-neumorphic-sm: 3px 3px 6px rgba(0, 0, 0, 0.05), -3px -3px 6px rgba(255, 255, 255, 0.7);
  --shadow-glassmorphism: 0 8px 32px rgba(0, 0, 0, 0.1);
}

    html {
      scroll-behavior: smooth;
    }

    body {
      color: rgb(var(--foreground-rgb));
      background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
      width: 100%;
      overflow-x: hidden;
    }

    @layer utilities {
      .text-balance {
        text-wrap: balance;
      }
  }